.home-page {


.promo-slides{
  height: auto !important; 
  width: 100% !important; 
}

.promo-slide{
  width: 100% !important; 
}

.promo-img{
  width: 100% !important; 
}
.slide-zoom{
  height: 100%; 
}
}
